{% extends 'libapp/base.html' %} {% comment %} title {% endcomment %}
 {% block title%}About Us{%endblock %} {% comment %} content {% endcomment %} 
 {% block content %} {% load static %}
 <div class="aboutUsPage">
    <div class="aboutus">
        <h1>About Us</h1>
        <p align = "justify">ReadOps is a cutting-edge library management system designed to revolutionize the way libraries function, ensuring seamless organization, efficient operations, and enhanced user experiences. In today's fast-paced world, libraries need a comprehensive and user-friendly solution to manage their resources effectively. ReadOps is the answer to the ever-evolving needs of libraries, empowering them to deliver exceptional services to their patrons..</p>
        <p align = "justify">In the digital age, where technology has transformed various aspects of our lives, libraries also need to adapt and embrace modern solutions to efficiently manage their resources and services. One such powerful tool is "ReadOps," a comprehensive library management system designed to streamline and enhance library operations. ReadOps is more than just a traditional cataloging software; it is a robust and user-friendly platform that empowers librarians and library staff to deliver a seamless experience to their users.</p>
        <p align = "justify">ReadOps represents the future of library management systems, catering to the needs of modern libraries and their tech-savvy patrons. With its seamless integration of traditional and digital resources, user-centric approach, and data-driven insights, ReadOps empowers libraries to provide exceptional services and remain relevant in an increasingly digital world. Embracing ReadOps is a step towards creating vibrant and dynamic libraries that continue to enrich communities and promote knowledge dissemination.</p>
        
    </div>

    <div class="madeby">
        <h1>Made by</h1>
        <div class="contrib-con">
            <div class="leftcontrib">
        <div class="contributer">
            <p>Sai Kiran Matta</p>
            <div class="email">
                <img src="{% static 'Images/mailIcon.png' %}" alt="mail icon"/>
                <span>saikirangoud.matta@gmail.com</span>
            </div>
            <div class="phoneNo">
                <img src="{% static 'Images/phoneIcon.png' %}" alt="Phone icon"/>
                <span>7995166572</span>
            </div>
        </div>

        <div class="contributer">
            <p>A Mayaank</p>
            <div class="email">
                <img src="{% static 'Images/mailIcon.png' %}" alt="mail icon"/>
                <span>mayaankaekka115@gmail.com</span>
            </div>
            <div class="phoneNo">
                <img src="{% static 'Images/phoneIcon.png' %}" alt="Phone icon"/>
                <span>9502042793</span>
            </div>
        </div>

        <div class="contributer">
            <p>Zaid Ahmed Khan</p>
            <div class="email">
                <img src="{% static 'Images/mailIcon.png' %}" alt="mail icon"/>
                <span>mdzaid@gmail.com</span>
            </div>
            <div class="phoneNo">
                <img src="{% static 'Images/phoneIcon.png' %}" alt="Phone icon"/>
                <span>7680970069</span>
            </div>
        </div>
    </div>
    <div class="rightcontrib">
        <div class="contributer">
            <p>Nishaanth Vadlamudi</p>
            <div class="email">
                <img src="{% static 'Images/mailIcon.png' %}" alt="mail icon"/>
                <span>vnishaanth@gmail.com</span>
            </div>
            <div class="phoneNo">
                <img src="{% static 'Images/phoneIcon.png' %}" alt="Phone icon"/>
                <span>7995169787</span>
            </div>
        </div>

        <div class="contributer">
            <p>S Durga Nitish Krishna</p>
            <div class="email">
                <img src="{% static 'Images/mailIcon.png' %}" alt="mail icon"/>
                <span>sdnkrish@gmail.com</span>
            </div>
            <div class="phoneNo">
                <img src="{% static 'Images/phoneIcon.png' %}" alt="Phone icon"/>
                <span>8995166571</span>
            </div>
        </div>

        <div class="contributer">
            <p>K Chetan</p>
            <div class="email">
                <img src="{% static 'Images/mailIcon.png' %}" alt="mail icon"/>
                <span>kchetan@gmail.com</span>
            </div>
            <div class="phoneNo">
                <img src="{% static 'Images/phoneIcon.png' %}" alt="Phone icon"/>
                <span>8978512470</span>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

{% endblock %}