{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReadOps-Library Management System</title>
    <link rel="stylesheet" href="{% static 'css/Styles.css'%}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="navbar">
      <img src="logo-no-background.png" alt="ReadOps" height="40px" />
      <div class="menu Mmenu">
        <a href="index.html">Home</a>
        <a href="#">Explore</a>
        <a href="#">About us</a>
      </div>
      <form action="" class="searchbar">
        <input type="text" placeholder="Search Books..." name="q" />
        <button type="submit"><img src="search.png" alt="search" /></button>
      </form>
      <button class="notification">
        <img src="notification.png" alt="" height="25px" /><span> ALERTS</span>
      </button>
      <div class="menu">
        <a href="">Login</a>
      </div>
    </div>
    <div class="wrapper">
      <header>
        <img src="Background.jpg" alt="" class="background background0" />
        <img src="4layers.png" alt="" class="background background1" />
        <img src="3layers.png" alt="" class="background background2" />
        <img src="2layers.png" alt="" class="background background3" />
        <img src="1layer.png" class="background background4" />
        <h1 class="welcome-text">
          Welcome to Read<span class="Ops">Ops</span>
        </h1>
      </header>
      <section>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
        laboriosam adipisci eaque earum qui voluptas quod accusamus atque! Porro
        accusantium quas voluptatum magni non consectetur aspernatur, itaque est
        unde dicta suscipit saepe aut excepturi veritatis deleniti voluptates
        dignissimos delectus! Odit a optio excepturi et distinctio iusto
        assumenda deleniti nihil. Temporibus nesciunt odio obcaecati, cumque
        culpa praesentium reprehenderit qui, quis iusto magni architecto
        corporis incidunt pariatur aliquam, veniam illum harum? Delectus, illum.
        Rem laudantium dignissimos tempora enim numquam distinctio magni id
        praesentium dolore alias voluptatibus tempore, natus rerum hic. Voluptas
        minima dolorem aliquam repellat iste placeat rem debitis similique
        explicabo dicta! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Voluptas animi excepturi commodi incidunt ex? Error est voluptatem
        eaque quas hic iure. Reiciendis nostrum molestiae magni ex libero autem
        ut ad, adipisci quasi odit provident rerum neque optio veniam non amet,
        dolores maiores consequuntur possimus temporibus, similique deserunt!
        Adipisci id consequatur aspernatur ex? Dolore iusto voluptates tempore
        corporis excepturi quisquam ullam commodi odit blanditiis, autem odio
        nostrum dolores omnis labore aspernatur ipsum nisi dolor quas
        consectetur nihil voluptas incidunt architecto laudantium mollitia.
        Aperiam tempora tempore harum blanditiis asperiores! Earum totam ipsum,
        molestiae dolorum voluptate minima repudiandae nulla. Quibusdam, iste
        tempora? Quod nisi esse dolores reprehenderit eveniet illo facere quidem
        distinctio voluptate doloribus ullam id fugiat cumque, rem magnam
        obcaecati laboriosam incidunt repellendus unde hic doloremque! Dicta
        incidunt accusamus rerum blanditiis reiciendis sunt ea quam id. Quo
        eveniet quis exercitationem, nam ea eaque itaque. Earum maxime quisquam
        fugit odit! Consectetur corporis facilis voluptates velit debitis, nam
        tempora, distinctio perferendis nisi in temporibus accusantium, animi
        natus! Repellat voluptatem ex laudantium quaerat, asperiores molestiae,
        odit esse quisquam ipsam quia id aliquid aut molestias illo porro
        eligendi voluptate veniam eveniet reprehenderit culpa atque ipsum.
        Architecto cum voluptatem totam fuga eaque reiciendis sunt
        necessitatibus molestiae eos odio? Cumque architecto neque id
        perferendis nesciunt, fuga dolor! In perspiciatis quaerat libero facere
        dolorum cupiditate eveniet assumenda asperiores, rerum sint excepturi
        ducimus saepe eius architecto vitae officia unde dolores doloremque
        accusantium distinctio, consectetur adipisci reiciendis enim sequi.
        Facilis dicta sit amet asperiores deserunt et iure voluptas? Eum alias
        accusantium veniam in pariatur, aspernatur consequatur praesentium fugit
        ratione voluptatibus temporibus placeat, facilis aliquid quo tempora
        labore sint est architecto iste minima numquam eaque asperiores? Culpa
        odit blanditiis earum, nihil atque dolores temporibus. Sunt, veritatis
        earum nihil alias labore et omnis sit quasi eveniet quis? Nulla optio,
        aut soluta voluptatem rem eligendi at rerum corrupti enim beatae
        consectetur natus quibusdam repellendus, voluptatum doloribus amet eos
        exercitationem. Beatae, quae consequatur fugit fugiat sit eligendi sint,
        nihil id, at aut rem ullam ipsam minus ea magnam perspiciatis pariatur
        vitae esse expedita totam nostrum adipisci asperiores eos. Nesciunt quia
        excepturi a maxime deserunt enim quidem saepe, eum doloribus facilis
        possimus accusantium minima! Aliquid maxime architecto, vitae
        consequuntur fuga amet iste ipsa illo nulla corporis voluptates expedita
        inventore sequi laboriosam, obcaecati tenetur. Nam, placeat. Voluptate
        corrupti, itaque laudantium quia nemo dolorem expedita enim aliquid
        culpa atque, a est repudiandae maxime! Ex, animi laboriosam unde
        doloribus amet asperiores est quis, itaque officiis eos cum quo vitae
        id. Nam rem odit accusamus dicta sed deleniti inventore quod voluptas
        perspiciatis enim impedit, quia ducimus, voluptate quaerat quidem
        officiis alias! Expedita, veritatis tempora, rem commodi nobis nemo aut
        doloremque pariatur itaque cumque dicta necessitatibus deleniti delectus
        ab natus ducimus tempore vel accusamus exercitationem omnis minima.
        Aliquid optio magnam doloremque dolorem quae nesciunt dolor repudiandae
        sint reprehenderit accusantium molestiae amet provident molestias maxime
        impedit dolores, aut ab obcaecati. Quae officia laudantium voluptatum
        cupiditate aut voluptatem ullam temporibus ad, magni incidunt veritatis
        consequatur expedita deleniti dolor? Soluta distinctio recusandae ad
        consequatur voluptatibus esse aspernatur quia nulla dolore! Et qui
        sapiente assumenda, vel alias animi. Quia quos, ipsum possimus vero
        alias sequi laboriosam minus reiciendis expedita consectetur voluptatum
        explicabo, non quidem doloribus aspernatur. Sequi provident adipisci
        nesciunt impedit esse excepturi magni et odit neque a debitis illo
        facere quas eaque corrupti atque ratione quibusdam dolorem, facilis odio
        sunt voluptate numquam eius! Commodi deleniti cupiditate placeat cumque
        earum maxime, incidunt tempora illo laboriosam. Minima corrupti numquam
        perferendis maiores doloribus dicta. Eligendi, quos officiis labore
        quisquam possimus voluptate reiciendis tempore non eum voluptatum
        temporibus voluptas illum praesentium, fugiat enim? Veritatis quaerat
        facere earum et, est sit illo ipsum rem, sapiente officiis aut, delectus
        natus sint nulla minus aliquid consequatur ullam! Blanditiis unde, eos
        tempora tempore voluptas nobis eligendi vero distinctio debitis fugit
        magni dolor! Recusandae facere vel numquam, provident iusto quaerat
        voluptatibus aliquid enim dignissimos excepturi cupiditate natus aliquam
        quam doloribus eaque dolore illum itaque, ipsum accusamus aperiam
        praesentium porro ratione fugiat? Esse, aliquam? Vel corporis dolorum
        doloribus in, iste explicabo cupiditate optio ipsa ex pariatur saepe
        mollitia praesentium suscipit reiciendis blanditiis harum possimus
        debitis necessitatibus? Saepe, fugiat dolore porro blanditiis aspernatur
        quasi animi aperiam ducimus dolorem ut, nihil commodi exercitationem
        excepturi? Quasi vero sapiente voluptatem blanditiis debitis libero,
        obcaecati laudantium porro adipisci impedit praesentium numquam ab!
        Repellat, nisi repellendus exercitationem soluta, ratione culpa cum
        ducimus veniam voluptatem eligendi optio sint voluptatum inventore
        maxime fugiat enim quam pariatur quia dolores! Non autem eligendi earum
        architecto iste iure consequatur aliquid pariatur nemo totam ratione
        assumenda vitae, vero, sint laudantium, dolores iusto inventore ut
        perferendis. Debitis, laborum? Officia suscipit ipsum eaque similique
        repellat perferendis ratione aperiam praesentium autem maiores a, culpa
        repudiandae rerum quia temporibus voluptatibus animi! Cumque ipsam
        voluptatum voluptatem quisquam dolores, unde iste perferendis, provident
        tempora, quae possimus mollitia id a sed? Vel voluptates laudantium
        recusandae ex, culpa odit vero doloribus quis laborum dolore, natus
        possimus? Ipsa, recusandae officiis! Praesentium placeat amet alias
        omnis ipsum culpa deserunt cum ipsa quis sequi dicta consectetur
        perferendis vel veniam quia, quibusdam explicabo quo in. Nobis velit
        voluptates quae beatae provident eaque eum atque natus rerum, voluptate
        illum temporibus pariatur ipsa commodi vel quas molestias quidem dolore
        non aliquid, esse accusamus sequi dolorem explicabo. Provident fugiat
        molestiae soluta? Nostrum, corrupti commodi voluptas temporibus
        blanditiis nihil dicta fugit. Doloremque eum, itaque nam quidem quaerat
        nemo voluptates explicabo minus! Corrupti error tempora laboriosam.
        Officia natus eveniet nesciunt placeat aut magnam incidunt veritatis
        animi reprehenderit, ea, quas hic eligendi porro neque? Alias in eius
        quo? Accusamus velit quisquam illum ratione voluptatem voluptatum quam,
        officia nobis quibusdam tempore. Dolore, at! Hic voluptatem impedit,
        illo tempore nam libero aliquam, saepe optio sint eos exercitationem
        repellendus eum porro, nostrum quas quasi reiciendis? Aspernatur porro
        doloremque laudantium dolor architecto provident, veritatis hic aliquid,
        molestiae corporis praesentium maxime. Facilis voluptate tenetur quod
        consequatur sapiente repellat, necessitatibus illo accusantium quos
        cupiditate harum velit est maxime dicta reiciendis. Ea blanditiis
        itaque, ut quos deleniti quidem obcaecati neque autem ab id
        reprehenderit repellendus delectus perspiciatis eos necessitatibus
        accusamus voluptas.
      </section>
    </div>
  </body>
</html>
